/* COLORS TO CHOOSE FROM #4DABA9, #B5D9E2, #5792AF, #B3D2CD */
/* THEIR DESCRIPTIONS ARE darkTeal, sky blue, dark blue, grey blue */

/* FONTS */
@import url(http://fonts.googleapis.com/css?family=Share+Tech|Tangerine|Baumans|Lobster|Pacifico|Oxygen|Arimo|Lato|Dancing+Script);


html {
	width:100%;
	height:100%;
	margin:0;
	padding:0;
}

body {
	width:100%;
	height:100%;
	margin:0;
	padding:0;
	/*background:#4DABA9;*/
}
/* ALIGNMENT CLASSES */
.left {
	float:left;
}
.right {
	float:right;
}
.center {
	margin:auto;
}
.clear {
	clear:both;
}

/* PLAY WITH THE COLOR OF THE DIVIDER *** CURRENTLY SET TO THE BORDER OF THE FOCUS BORDER  */
.divider{
	border: 0;
	height: 1px;
	background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(77,171,169,0.75), rgba(0,0,0,0));
	background-image: -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
	background-image: -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
	background-image: -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
}
/* HEADER STYLING */
#header-wrap {
	width:100%;
	height:100px;
	background:#5792AF;
	box-shadow: 0px 4px 20px 2px rgba(0,0,0,0.3);
	position:fixed;
	z-index: 100;
}
#header-cont {
	width:1140px;
	height:100%;
	margin:auto;
}
#icon {
	color:white;
	font-size:60px;
	width:80px;
	display: inline-block;
	text-align: center;
	height: 100%;
	line-height: 105px;
	margin-left:150px;
}

#my-name {
	font-family:Lato;
	font-size:60px;
	font-weight:600;
	color:white;
	font-variant: small-caps;
	line-height: 90px;
	letter-spacing: 3px;
	padding-left: 10px;
}
.menu-item {
	font-family:Lato;
	height:100%;
	color:white;
	padding-right:10px;
	padding-left:10px;
	font-size:22px;
	letter-spacing: 1px;
	font-variant: small-caps;
	line-height: 100px;
}

/* BODY STYLING */
/* COLORS TO CHOOSE FROM #4DABA9, #B5D9E2, #5792AF, #B3D2CD */
/* THEIR DESCRIPTIONS ARE darkTeal, sky blue, dark blue, grey blue */
.light-blue {
	background: #B3D2CD;
}
.white-gloss {
	background: #f1f4f6;
}
.darker-blue {
	background: #5792AF;
}
#first-body {
	padding-top:100px;
}
.sub-main-section-wrap {
	width:100%;
	height:550px;
	z-index:10;
	/*border-top:1px solid red;*/
	/*border-bottom:1px solid red;*/
	/*background: #f1f4f6;*/
}
.sub-main-section-cont {
	height:100%;
	width:1140px;
	margin:auto;
	/*border-right:1px solid navy;*/
	/*border-left:1px solid navy;*/
}
.main-section-wrap {
	width:100%;
	height:950px;
	z-index:10;
	/*border-top:1px solid red;*/
	/*border-bottom:1px solid red;*/
	/*background: #f1f4f6;*/
}
.main-section-cont {
	height:100%;
	width:1140px;
	margin:auto;
	position: relative;
	/*border-right:1px solid navy;*/
	/*border-left:1px solid navy;*/
}
.focus-wrap {
	height:100%;
	/*border-right:1px solid navy;*/
	/*border-left:1px solid navy;*/
	/*width:314px;*/
	/*display:inline-block;*/


}
.focus-circle {
	width:310px;
	height:310px;
	border-radius:100%;
	border:7px solid #4DABA9;
	/*display:inline-block;*/
	/*background:#B5D9E2;*/
	/*float:left;*/
	/*margin-left:45px;*/
	margin-top:40px;
	margin-right:auto;
	margin-left:auto;
	overflow: hidden;
	-webkit-box-shadow: 0px 0px 10px -2px #202020;
	position:relative;
}
.focus-circle-background {
	width:100%;
	height:100%;
	opacity:.5;
	border-radius:100%;
	background:#B5D9E2;
	-webkit-box-shadow: inset 0px 0px 20px -4px #202020;
	color:black;
}
.focus-label {
	width:70%;
	height:80px;
	font-family: Lato;
	font-size: 45px;
	font-variant: small-caps;
	color:#4DABA9;
	text-align: center;
	line-height: 60px;
	padding-top:50px;
	font-weight:600;
	letter-spacing: 2px;
	margin:auto;
}
.focus-circle-text {
	color:black;
	font-size:130px;
	/*z-index:10000;*/
	text-align: center;
	position:absolute;
	top:20px;
	left:20px;
	letter-spacing: 10px;
	opacity:.4;

}
/*.left-circle {
	float:left;
	margin-left:38px;
}
.right-circle {
	float:right;
	margin-right:38px;
}
.center-circle {
	margin-left:38px;
	margin-right:38px;
}*/
#scientist {
	background:url('../images/atom.png') center;
	background-size: 90% 90%;
	background-repeat: no-repeat;
}
#musician {
	background:url('../images/speaker.png') center;
	background-size: 80% 80%;
	background-repeat: no-repeat;
}
/*#athlete {
	background:url('../images/football.png') center;
	background-size: 95% 55%;

	background-repeat: no-repeat;
}*/
#blog {
	color:#f1f4f6;
}
#blog h1 {
	color:#f1f4f6;
}
#footer-wrap {
	width:100%;
	height:475px;
	z-index:10;
}
#work-cont {
	/*width: 1100px;*/
	/*height:850px;*/
	/*margin:auto;*/
	/*margin-top:50px;*/
	/*border:1px solid black;*/
	/*position: absolute;*/
	padding-top:85px;
	/*padding-left:4px;*/
}

.work-row {
	overflow-x: hidden;
	overflow-y: hidden;
	height:400px;
	width:1140px;
	
}


.work-box {
	background:#B5D9E2;
	height:350px;
	width:350px;
	margin-top:15px;
	margin-bottom:15px;
	/*margin-right:12px;*/
	/*margin-left:12px;*/
	border-radius: 6px;
	position:relative;
	display:inline-block;
	-webkit-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.3);
}

.placeholder-left {
	color:white;
	width:305px;
	height:330px;
	font-size:360px;
	text-align: center;
	position:absolute;
	left:22.5px;
}
.placeholder-right {
	color:white;
	width:305px;
	height:330px;
	font-size:360px;
	text-align: center;
	position:absolute;
	right:22.5px;
}

.definition {
	width:90%;
	height:30px;
	text-align: left;
	margin-top:0;
	margin:auto;
	font-size: 16px;

}

.work-img {
	width:305px;
	height:305px;
	margin:auto;
	margin-top:22.5px;
}
.center-work-img {
	width:305px;
	height:305px;
	margin:auto;
	margin-top:22.5px;
}
.work-details {
	display:none;
	width:700px;
	height:290px;
	
	/*border:1px solid black;*/
	margin-top:30px;
	color:white;
	font-size: 22px;
	font-family: Lato;
}
.work-details h2 {
	color:white;
	font-weight: 600;
	font-size: 42px;
	letter-spacing: 1px;
	font-family: Lato;
}
.work-details p {
	line-height: 24px;
	padding-bottom:10px;
}
.details-right {
	float:right;
	margin-right:350px;
}
.details-left {
	margin-left:350px;
}
.center-details-left {
	width:305px;
	height:305px;
	float:left;
	display:none;
	margin-left:50px;
	margin-top:-305px;
}
.center-details-right {
	width:305px;
	height:305px;
	float:right;
	display:none;
	margin-top:-305px;
	margin-right:50px;

}



#math-ex {
	width:450px;
	height:50px;
	background-image:url('../images/sigma-pic1.png');
	background-size: 100% 100%;
	background-repeat: no-repeat;


}



.center-box {
	margin-left:45px;
	/*left:20%;*/
	/*position:absolute;*/
	/*margin: auto;*/
	/*float:left;*/

}




#grid-cont {
	margin-left:5px;
	padding-top:115px;
}
.info {
	text-align: left;
	font-size:20px;
	line-height: 22px;
	font-family: Lato;
	/*margin-top: 50px;*/
	float:left;
	display:inline-block;
	width:350px;
	height:350px;
	/*border:5px solid #B3D2CD;*/
	margin:5px 5px 5px 5px;
	overflow: hidden;
	background:white;
	border:8px solid white;
	-webkit-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.3);
	border-radius: 2px;
}
#gear-spin i {
	font-size: 350px;
	margin-left:25px;
}
.info-text {
	padding-top:30px;
}
.info-pic {
	width:334px;
	height:334px;
	width:100%;
	height:100%;
}
.technologies-list {
	width:100%;
	height:100%;
	margin-left:5px;
	margin-top:15px;
	padding:0;
}
.technologies-list li {
	font-size: 30px;
	display: inline-block;
	padding-top:10px;
	padding-left:12px;
	padding-right:12px;
	width:60px;
	height:60px;
}
/*#top-info {
	width:400px;
	height:300px;
	border:5px solid white;
	position:absolute;
	right:200px;
}
#bottom-info {
	width:800px;
	height:200px;
	border:5px solid white;
	position:absolute;
	bottom:40px;
}*/



.contact-footer {
	height:300px;
}
#quote {
	width:300px;
	padding-top:70px;
	float:left;
	display:inline-block;
	margin-left:20px;
	color:white;
	font-size:24px;
	font-family:Lato;
	font-variant: small-caps;
	line-height: 28px;

}
#myFace {
	width:270px;
	height:270px;
	border:6px solid white;
	border-radius: 100%;
	float: left;
	display: inline-block;
	margin-left: 125px;
	margin-top:9px;
	background-image: url('../images/myface.jpg');
	background-size: 100% 100%;
	background-repeat: no-repeat;
}

#contact-icons-cont {
	width:400px;
	height:250px;
	float:right;
	margin-right:-45px;
	margin-top:28px;
}
.icon-list {
	width:100%;
	height:100%;
	margin:0;
	padding:0;
}
.icon-list li {
	display: inline-block;
	width:180px;
	height:130px;
	font-size: 60px;
	text-align: center;
	/*background:white;*/
	padding:0;
	margin:0;
}
.icon-list li a i {
	color:white;
}

#t-all {
	background: white;
	background-size: 100% 100%;
	background-repeat: no-repeat;
}
#plan-d {
	background-image:url('../images/planetarydefendr.png');
	background-size: 100% 100%;
	background-repeat: no-repeat;
	position:absolute;
	right:22.5px;
}
#g-f {
	background:url('../images/gameface.png');
	background-size:100% 100%;
	background-repeat: no-repeat;
}
#b-r {
	background-image: url('../images/banc.jpg');
	background-size: 100% 100%;
	background-repeat: no-repeat;
	position:absolute;
	left:22.5px;
	
}
#m-v {
	background-image: url('../images/muzik.png');
	background-size: 100% 100%;
	background-repeat: no-repeat;
}



























/* THE NEXT SMALLEST SCREEN SIZE STYLEING */
@media only screen and (min-width: 768px) and (max-width: 959px) {

#header-cont {
	width:900px;
	height:100%;
	margin:auto;
}
#icon {
	color:white;
	font-size:60px;
	width:80px;
	display: inline-block;
	text-align: center;
	height: 100%;
	line-height: 105px;
	margin-left:50px;
}

#my-name {
	font-family:Lato;
	font-size:50px;
	font-weight:600;
	color:white;
	font-variant: small-caps;
	line-height: 95px;
	letter-spacing: 3px;
	padding-left: 10px;
}
#menu {
	/*border:1px solid red;*/
	width:400px;

}
.menu-item {
	font-family:Lato;
	height:100%;
	color:white;
	padding-right:10px;
	padding-left:10px;
	font-size:20px;
	letter-spacing: 1px;
	font-variant: small-caps;
	line-height: 100px;

}

/* BODY STYLING */
/* COLORS TO CHOOSE FROM #4DABA9, #B5D9E2, #5792AF, #B3D2CD */
/* THEIR DESCRIPTIONS ARE darkTeal, sky blue, dark blue, grey blue */
.light-blue {
	background: #B3D2CD;
}
.white-gloss {
	background: #f1f4f6;
}
#first-body {
	padding-top:100px;
}
.sub-main-section-wrap {
	width:100%;
	height:550px;
	z-index:10;
	/*border-top:1px solid red;*/
	/*border-bottom:1px solid red;*/
	/*background: #f1f4f6;*/
}
.sub-main-section-cont {
	height:100%;
	width:1140px;
	margin:auto;
	/*border-right:1px solid navy;*/
	/*border-left:1px solid navy;*/
}

.main-section-wrap {
	width:100%;
	height:550px;
	z-index:10;
	/*border-top:1px solid red;*/
	/*border-bottom:1px solid red;*/
	/*background: #f1f4f6;*/
}
.main-section-cont {
	height:100%;
	width:1140px;
	margin:auto;
	/*border-right:1px solid navy;*/
	/*border-left:1px solid navy;*/
}

.focus-wrap {
	height:100%;
	/*border-right:1px solid navy;*/
	/*border-left:1px solid navy;*/
	/*width:314px;*/
	/*display:inline-block;*/


}
.focus-circle {
	width:225px;
	height:225px;
	border-radius:100%;
	border:7px solid #4DABA9;
	/*display:inline-block;*/
	/*background:#B5D9E2;*/
	/*float:left;*/
	/*margin-left:45px;*/
	margin-top:40px;
	margin-right:auto;
	margin-left:auto;
	overflow: hidden;
	-webkit-box-shadow: 0px 0px 10px -2px #202020;
}
.focus-circle-background {
	width:100%;
	height:100%;
	opacity:.5;
	border-radius:100%;
	background:#B5D9E2;
	-webkit-box-shadow: inset 0px 0px 20px -4px #202020;
}
.focus-label {
	width:70%;
	height:80px;
	font-family: Lato;
	font-size: 45px;
	font-variant: small-caps;
	color:#4DABA9;
	text-align: center;
	line-height: 60px;
	padding-top:50px;
	font-weight:600;
	letter-spacing: 2px;
	margin:auto;
}























